# ── Django ────────────────────────────────────────────────────────────────────
DEBUG=True
SECRET_KEY=your-secret-key-change-this-in-production-minimum-50-chars
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_DB=shopwise_db
POSTGRES_USER=reaksa_dev
POSTGRES_PASSWORD=postgre12345!!!
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ── Redis ─────────────────────────────────────────────────────────────────────
REDIS_URL=redis://redis:6379/0